/* Custom style for setting textarea height */
.custom-height {
    height: 90vh;
    /* 90% of the viewport height */
    min-height: 200px;
    /* Minimum height to ensure content visibility */
}

/* Hide scrollbar for specific container */
.scrollbar-hidden {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
}

.focus-border:focus {
    border-color: white;
    outline: none;
}

/* Custom styles for the toggle switch */
.toggle-background {
    background-color: rgba(var(--accent));
    transition: background-color 0.3s;
}

.toggle-dot {
    background-color: rgba(var(--primary));
    transition: transform 0.3s;
    transform: translateX(0);
    z-index: 1;
    /* Ensure the dot appears on top of the background */
}

/* Dark mode specific styles */
[data-theme="dark"] .toggle-background {
    background-color: rgba(var(--primary));
}

[data-theme="dark"] .toggle-dot {
    background-color: rgba(var(--accent));
    transform: translateX(1.75rem);
    /* Adjust based on the size of the toggle switch */
}

[data-theme="dark"] .toggle-dot.login {
    background-color: rgba(var(--accent));
    transform: translateX(0.75rem);
    /* Adjust based on the size of the toggle switch */
}

/* Custom transition class */
.transition-opacity {
    transition: opacity 5s;
}